.login-container {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
}
.login-container {
    max-width: 30%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
    margin: 10%;
}
.login-container label {
    display: block;
    font-size: 16px;
    color: #555;
}
.login-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}
.remember-me {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.remember-me input {
    width: auto;
    margin-right: 10px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #45a049;
}